body{
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    /* background-color: lavender; */
}

.navbar {
    font-weight: bold;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .logo {
    padding: 25px;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }
  
  .navbar_links ul {
    margin: 0;
    padding: 0;
    display: flex;
    /* color: white; */
  }
  
  .navbar_links li {
    list-style: none;
    /* color: azure; */
  }
  
  .navbar_links li a {
    text-decoration: none;
    color: black;
    /* margin-right: 1rem; */
    padding: 10px;
    display: block;
  }
  
  .navbar_links li a:hover {
    background-color: grey;
  }
  
  .toggle_button {
    position: absolute;
    margin-top: 45px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  /* .toggle_button .bars{
      height: 2px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
  } */
  
  #bar1 {
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  #bar2 {
    height: 2px;
    width: 75%;
    background-color: black;
    border-radius: 10px;
  }
  #bar3 {
    height: 2px;
    width: 25%;
    background-color: black;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .toggle_button {
      display: flex;
    }
  
    .navbar_links {
      display: none;
      width: 100%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar_links ul {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar_links li {
      text-align: center;
      /* width: 100%; */
    }
    .navbar_links li a {
      padding: 0.5rem 1rem;
    }
    .navbar_links.active {
      display: flex;
    }
  }

.contact_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-right: 15%;
    margin-left: 15%;
    
    padding-top: 15px;
    padding-bottom: 8px;
    padding-right: 4vw;
    padding-left: 6vw;
    
    background-color: aqua;
    width: auto;
    height: auto;
    
    justify-content: space-between;
    background: #e0e0e0;
    border-radius: 20px;
    box-shadow:  24px 24px 35px #cecece,
             -24px -24px 35px #f2f2f2;

}

#glad{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
}

.SocialHandles_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: stretch;

}

.twitter_svg{
    height: 30px;
    color: black;
    margin-right: 20px;
}

.linkedin_svg{
    height: 30px;
    color: black;
    margin-right: 20px;
}

.mail_svg{
    height: 30px;
    color: black;
    margin-right: 20px;
}

.instagram_svg{
    height: 30px;
    color: black;
}

#LeaveMessage_button{
    font-weight: bold;
    font-size: 25px;
    width: max-content;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border:none;
    background: linear-gradient(145deg, #f5f1f1, #cecbcb);
    box-shadow:  11px 11px 20px #7c7a7a,
             -11px -11px 20px #ffffff;
}