body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  font-weight: bold;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  padding: 25px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  /* color: white; */
}

.navbar_links li {
  list-style: none;
  /* color: azure; */
}

.navbar_links li a {
  text-decoration: none;
  color: black;
  /* margin-right: 1rem; */
  padding: 10px;
  display: block;
}

.navbar_links li a:hover {
  background-color: grey;
}

.toggle_button {
  position: absolute;
  margin-top: 45px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

/* .toggle_button .bars{
      height: 2px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
  } */

#bar1 {
  height: 2px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
#bar2 {
  height: 2px;
  width: 75%;
  background-color: black;
  border-radius: 10px;
}
#bar3 {
  height: 2px;
  width: 25%;
  background-color: black;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .toggle_button {
    display: flex;
  }

  .navbar_links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar_links li {
    text-align: center;
    /* width: 100%; */
  }
  .navbar_links li a {
    padding: 0.5rem 1rem;
  }
  .navbar_links.active {
    display: flex;
  }
}

.main_container {
  display: flex;
  flex-direction: column;
}

.form_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  /* justify-content: space-around; */
  margin-top: 75px;
}

.name_column {
  margin: 15px;
  font-family: "Raleway", sans-serif;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  border: none;
  width: auto;
  height: 50px;
  border-radius: 50px;
}

.name_column::placeholder {
  position: absolute;
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 16px;
}

.name_column::after {
  text-align: center;
}

.email_column {
  margin: 15px;
  font-family: "Raleway", sans-serif;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  border: none;
  width: auto;
  height: 50px;
  border-radius: 50px;
}

.email_column::placeholder {
  position: absolute;
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 16px;
}

.message_column {
  margin: 15px;
  font-family: "Raleway", sans-serif;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  border: none;
  width: auto;
  height: 150px;
  border-radius: 10px;
  /* min-width: 10%; */
  /* display: flex; */
  /* justify-items: flex-start; */
}

.message_column::placeholder {
  position: absolute;
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 16px;
}

/* .message_column::placeholder{
      position: absolute;
  
  } */

.submit_button {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  margin-top: 30px;
  border: none;
  box-shadow: inset 26px 26px 52px #d3cece, inset -26px -26px 52px #ffffff;
}
