/* #body_div {
  overflow-y: auto;
  overflow-x: hidden;
} */

/* Header */

:root{
  --whitish: rgb(238, 235, 235);

}

::-webkit-scrollbar{
  display: none;
}

body{
  background-color: var(--whitish);
  font-family: 'Raleway', sans-serif;
  /* overflow-y: hidden; */
}

.hero_bio>h1{
  font-weight: bold;

}

.svg-inline--fa_fa-book-skull{
  height: 25px;
  background-color: transparent;
}

.twitter_icon{
  height: 25px;
}

.header {
  display: flex;
  border-radius: 10px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.header_logo {
  margin-right: 20%;
  padding: 10px;
}

#header_logo__img {
  height: 80px;
  object-fit: contain;
  /* is it responsive? */
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.navbar_items {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  width: 400px;
  justify-content: space-between;
  list-style: none;
}

.navbar_items__item_button{
  border: 0px;
  width: 100%;
  padding: 0px;
  background-color: transparent;
  font-weight: bold;
  width: 100%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 870px){
  .hero{
    display: flex;
    flex-wrap: wrap;
  }



}

/* Site-Hero */
.hero {
  display: flex;
  border-radius: 20px;
  /* justify-content: space-between; */
  padding-left: 40px;
  background-color: pink;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 10px;
}

.hero_container{
  display: grid;
  grid-template-columns: 40% 40%;
  /* grid-template-areas: "hey_friends" "hero_image" ""; */
}

#hey_friends{
  grid-area: hey_friends;
}
#my_name{
  grid-area: my_name;
}
#newsletter_desc{
  grid-area: newsletter_desc;
}
#subscribe_msg{
  grid-area: subscribe_msg;
}
#subscribe_button{
  grid-area: subscribe_button;
}
#hero_image{
  grid-area: hero_image;
  height: 100px;
}








/* .hero_bio {
  padding: 50px;
}

h1.hero_bio{
  font-size: 200px;
}


#hero_image_ {
  object-fit: contain;
  height: 400px;
  border-radius: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 40px;
} */


.brief_description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(149, 236, 35);
}

.footer {
  width: 100%;
  bottom: 0px;
  background-color: rgb(219, 51, 51);
}

.footer_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

