#body_div {
  overflow-y: auto;
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  height: 80px;
  /* justify-cont */
  /* justify-con; */
  align-items: center;
  background-color: rgb(143, 216, 133);
}

.header__logo {
  /* object-fit: contain; */
  margin-right: 20%;
}

.header__logo_signature {
  height: 80px;
  object-fit: contain;
  /* is it responsive? */
}

.top_navbar {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-right: 20%;
  /* background-color: blueviolet; */
  justify-content: space-between;
}

.top_navbar__list {
  display: flex;
  /* font-size; */
  justify-content: space-between;
  /* display: var(flex); */
  /* align-items: center; */
  align-items: flex-end;
  list-style: none;
  /* align-items: flex-end; */

  /* align them row-wise */
}

.top_navbar__list__item_button{
  display: block
  /* font-size: 40px; */
  width: 100%;
  border: none;
  /* background-color: #04AA6D; */
  /* padding: 14px 28px; */
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Site-Hero */
.site_hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: aqua;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Site Hero Bio */
.site_hero__bio {
}

/* Site Hero Image */
.site_hero__image {
  width: inherit;
  /* height: inherit; */
  align-self: flex-end;
  /* object-fit: contain; */
  /* height: inherit; */
  /* width: inherit; */
}

/* Make the hero image more acceptable */
#hero_image {
  object-fit: contain;
  height: 40%;
  width: 40%;
  border-radius: 50px;
}

/* That description/overview of articles and work experience and projects */
.brief_description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(149, 236, 35);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(219, 51, 51);
}
