
.interests{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.have_many_interests{
  object-fit: cover;

}

.have_many_interests img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.interest1{
  object-fit: cover;
}

.interest1 img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.interest_not_over{
  object-fit: cover;
}

.interest_not_over img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}