:root{
    
}

body{
    background-image: url(../../assets/images/background_2.jpg);
    
    /* background-size: 100%; */
    /* background-attachment: fixed; */
}


.substack_subscribe{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 50px;
}

.newsletter_embed{
    object-fit: contain;
    width: 100%;
    /* height: 100%; */
}